.footer {
    display: flex;
    padding-left: 2rem;
    padding-right: 2rem;
    padding-top: 1rem;
    padding-bottom: 1rem;
    align-items: center;
    background-color: var(--bg-color);
    /*border-top: black 1px solid;*/
    position: fixed;
    height: var(--footer-height);
    left: 0;
    right: 0;
    bottom: 0;
}

li {
    text-decoration: none;
    list-style: none;
    width: 100%;
}

ul {
    padding-left: 0;
    margin: 0;
}

.bold {
    display: inline;
    font-weight: bold;
}